<!-- app.component.html -->
<div class="container" style="position: relative">
  <div class="left-section">
    <!-- Scrollable content -->
    <p-scrollPanel [style]="{ width: '70vw', height: '80vh' }">
      <div class="scroll-container">
        <p-card
          header="{{ a.title }}"
          subheader="{{ a.author }}"
          [style]="{
            'margin-bottom': '50px',
            'margin-top': '50px'
          }"
          *ngFor="let a of posts"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/usercard.png"
              style="height: 100px"
            />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button
              label="Continue Reading.."
              icon="pi pi-arrow-right"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    </p-scrollPanel>
  </div>

  <div class="right-section">
    <p-tree
      class="w-full md:w-30rem"
      [value]="files"
      [style]="{ 'margin-top': '20px' }"
    ></p-tree>
  </div>
  <p-speedDial
    [model]="items"
    [radius]="120"
    direction="up-left"
    type="quarter-circle"
    buttonClassName="p-button-success"
    class="speed"
  ></p-speedDial>
</div>
